.gradient {
  --bs-badge-padding-y: 0.35em;
  --mt-5: 3rem;
  --mb-3: 1rem;
  --h1-lh: 32px;
  --h3-lh: 28px;
  --h2-m: 16px;
  --border-w: 1px;
  background-image: linear-gradient( 135deg, #F0FF00 10%, #58CFFB 100%);
  height: calc(var(--mt-5) + var(--h1-lh) + var(--mb-3) + var(--bs-badge-padding-y) + var(--border-w) + (var(--h3-lh) / 2));
  top: 0;
  left: 0;
  right: 0;
}
